.main {
  .movie-card {
    max-width: 320px;
    .card-header {
      margin-bottom: 15px;

      h3 {
        color: white;
        margin-bottom: 0;
      }

      p {
        color: white;
        opacity: 75%;
      }
    }

    .card-body {
      .image-wrapper {
        img {
          width: 100%;
        }
      }
    }

    .card-footer {
      p {
        margin-top: 10px;
        color: white;
        font-size: 18px;
      }
    }
  }

  .video-card {
    .card-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      h3 {
        color: white;
        opacity: 75%;
        font-weight: 500;
      }

      span {
        font-size: 16px;
        color: white;
        opacity: 85%;
      }

      .rank {
        margin-left: 50px;
      }
    }
  }

  .movie-info-wrapper {
    margin-top: 40px;

    h4 {
      color: white;
      font-weight: 500;
    }

    p {
      color: white;
      opacity: 75%;
    }

    .writers-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      p {
        max-width: 400px;
      }
    }
  }

  padding-bottom: 200px;
}
